<ion-header>
  	
 <ion-toolbar color="warning" class="ion-text-center">
    
    <ion-buttons slot="start">
        <ion-back-button>back</ion-back-button>
    </ion-buttons>

 <ion-title>Hello !</ion-title>
    
 </ion-toolbar>

</ion-header>

<ion-content padding class="background"><br>
	 <center><h1><b>WELCOME TO UK TOMYAM RESTAURANT</b></h1></center>
	<center><h4>Don't have an account?</h4></center>
	<ion-button class="ion-padding" color="warning" shape="round" expand="full" routerLink="/register"><b>SIGN UP</b></ion-button>


	<center><h4>Already have an account ?</h4></center>
     <ion-button class="ion-padding" color="warning" shape="round" expand="full" routerLink="/login"><b>SIGN IN</b></ion-button>
     
     <br>
     <br>
     <center><h1><b>STAFF ONLY</b></h1></center>

     <center><h4>Sign in as Administrator</h4></center>
     <ion-button class="ion-padding" color="warning" shape="round" expand="full" routerLink="/loginn"><b>SIGN IN</b></ion-button>

    



</ion-content>
