.login-header
{
	background-color: #ffc409;
}
.logo-img
{
	display: block;
	width: 100px;
	margin: 0 auto;
	text-align: center;
}
ion-content.background{
	--background: url(../../assets/img/bg2.jpg);
}