<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Information</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">

<br>
  <center><img src="assets/ngantuk.PNG"></center>
<br>
<br>
<br>
<ion-item>
<p><b>ADDRESS :</b> UK Tomyam Restaurant Ulu Kenas 33000 Kuala Kangsar, Perak
 </p>
</ion-item>

<br>
<ion-item><p><b>OPERATION HOURS : </b>7.00a.m - 12.00a.m</p></ion-item>
<br><ion-item><p><b>OPERATION DAYS:</b> Every Day Except Sunday</p></ion-item>
<br>

       <img src="assets/gambar1.jpeg">
       <br>
       <br>
       <img src="assets/gambar2.jpeg">
   

</ion-content>