<ion-header>
	
	<ion-toolbar color="warning" class="ion-text-center">
 
 	
      <ion-title>ABOUT US</ion-title>
 </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <ion-slides>
  <ion-slide>
	<img src="assets/fyp1.jpg" height="10%" width="10%" />
    <h3><b>DISCOVER</b></h3>
    <p><b>Amazing restaurants & interesting content</b></p>
  </ion-slide>
  <ion-slide>
    <img src="assets/fyp2.jpg"/>
    <h3><b>BOOK</b></h3>
    <p><b>Convenient, instant restaurant reservations at your fingertips</b></p>
    
  </ion-slide>
  <ion-slide>
    <img src="assets/fyp4.jpg"/>
    <h3><b>SAVE</b></h3>
    <p><b>Dining Special ! Are you ready ? Let's start</b></p>

    <ion-button expand="full" shape="round" color="warning" [routerLink]="['/thankyou']"><b>START</b></ion-button>
 

    
    


    
  </ion-slide>

  <br>
  <br>
   </ion-slides>

</ion-content>
