.login-header
{
	background-color: "warning";
}
.login-header
{
	position: relative;
	border-radius: 0em;

}
.logo-img
{
	display: block;
	width: 100px;
	margin: 0 auto;
	text-align: center;
}
ion-content
{
	background-color: Black;
}

ion-slide{
  display:flex;
  flex-direction: column;
  width: 100%;
  height:100%;

}

ion-slide p{
  color: #888;
}


