<ion-header>
	
 <ion-toolbar color="warning" class="ion-text-center">
  <ion-buttons slot="start">
    <ion-back-button>back</ion-back-button>
  </ion-buttons>
      <ion-title>Register</ion-title>
 </ion-toolbar>
</ion-header>

<ion-content padding class="background"><br>
	<center><img src="assets/ngantuk.PNG"></center>
	<br>
	<center><h1><b>REGISTER</b></h1></center>
	<br>


 <ion-item>
 <ion-label position="floating">E-mail/ No.Telephone</ion-label>
 <ion-input type="email" [(ngModel)]="post.email" required></ion-input >
 </ion-item>
 <br>
 <ion-item>
 <ion-label position="floating">Password</ion-label>
 <ion-input type="password" [(ngModel)]="post.password" required></ion-input >
 </ion-item>

 <ion-button class="ion-padding" color="warning" shape="round" expand="full"  (click)="createPost(post)"><b>
 SUBMIT</b>
 </ion-button>

</ion-content>
