<ion-header>
  	
 <ion-toolbar color="warning" class="ion-text-center">
 <ion-title>MENU</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
 </ion-toolbar>

</ion-header>

<ion-content padding class="background"><br>
  
     <center>
       <h1><b>UK TOMYAM RESTAURANT</b></h1>
	 <b><p>Food & Drink Menu</p></b>
	</center>
       

 <ion-slides>
	<ion-slide>
   <ion-card>
    <ion-card-title>Nasi Goreng</ion-card-title>
    <ion-row>
      <ion-col>
      <ion-item><ion-text><ion-icon name="caret-forward"></ion-icon>Biasa</ion-text></ion-item>
      </ion-col>
      <ion-col>
      <ion-item><ion-text><ion-icon name="caret-forward"></ion-icon>Udang</ion-text></ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      <ion-item><ion-text><ion-icon name="caret-forward"></ion-icon>Cina</ion-text></ion-item>
      </ion-col>
      <ion-col>
      <ion-item><ion-text><ion-icon name="caret-forward"></ion-icon>Sotong</ion-text></ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      <ion-item><ion-text><ion-icon name="caret-forward"></ion-icon>Hailam</ion-text></ion-item>
      </ion-col>
      <ion-col>
      <ion-item><ion-text><ion-icon name="caret-forward"></ion-icon>Ikan Rebus</ion-text></ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      <ion-item><ion-text><ion-icon name="caret-forward"></ion-icon>Ikan Masin</ion-text></ion-item>
      </ion-col>
      <ion-col>
      <ion-item><ion-text><ion-icon name="caret-forward"></ion-icon>Campur</ion-text></ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      <ion-item><ion-text><ion-icon name="caret-forward"></ion-icon>Cili Api</ion-text></ion-item>
      </ion-col>
      <ion-col>
      <ion-item><ion-text><ion-icon name="caret-forward"></ion-icon>Ayam Kunyit</ion-text></ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      <ion-item><ion-text><ion-icon name="caret-forward"></ion-icon>Daging Merah</ion-text></ion-item>
      </ion-col>
      <ion-col>
      <ion-item><ion-text><ion-icon name="caret-forward"></ion-icon>Ayam</ion-text></ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      <ion-item><ion-text><ion-icon name="caret-forward"></ion-icon>Paprik</ion-text></ion-item>
      </ion-col>
      <ion-col>
      <ion-item><ion-text><ion-icon name="caret-forward"></ion-icon>Puyuh</ion-text></ion-item>
      </ion-col>
    </ion-row>
    <p><b>slides for more menu</b></p>
   </ion-card>

 </ion-slide>

 <ion-slide>
   <ion-card>
    <ion-card-title>Tomyam</ion-card-title>
     <ion-row>
      <ion-col>
      <ion-item><ion-text><ion-icon name="caret-forward"></ion-icon>Campur</ion-text></ion-item>
      </ion-col>
      <ion-col>
      <ion-item><ion-text><ion-icon name="caret-forward"></ion-icon>Udang</ion-text></ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      <ion-item><ion-text><ion-icon name="caret-forward"></ion-icon>Sotong</ion-text><br></ion-item>
      </ion-col>
      <ion-col>
      <ion-item><ion-text><ion-icon name="caret-forward"></ion-icon>Ayam</ion-text><br></ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      <ion-item><ion-text><ion-icon name="caret-forward"></ion-icon>Daging</ion-text><br></ion-item>
      </ion-col>
      <ion-col>
      <ion-item><ion-text><ion-icon name="caret-forward"></ion-icon>Sayur</ion-text><br></ion-item>
      </ion-col>
    </ion-row>
     <p><b>slides for more menu</b></p>
   </ion-card>
 </ion-slide>
 <ion-slide>
   <ion-card>
    <ion-card-title>Sup</ion-card-title>
     <ion-row>
      <ion-col>
      <ion-item><ion-text><ion-icon name="caret-forward"></ion-icon>Tulang</ion-text><br></ion-item>
      </ion-col>
      <ion-col>
      <ion-item><ion-text><ion-icon name="caret-forward"></ion-icon>Ekor</ion-text><br></ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      <ion-item><ion-text><ion-icon name="caret-forward"></ion-icon>Ayam</ion-text><br></ion-item>
      </ion-col>
      <ion-col>
      <ion-item><ion-text><ion-icon name="caret-forward"></ion-icon>Daging</ion-text><br></ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      <ion-item><ion-text><ion-icon name="caret-forward"></ion-icon>Campur</ion-text><br></ion-item>
      </ion-col>
      <ion-col>
      <ion-item><ion-text><ion-icon name="caret-forward"></ion-icon>Sayur</ion-text><br></ion-item>
      </ion-col>
    </ion-row>
     <p><b>slides for more menu</b></p>
   </ion-card>
 </ion-slide>
 <ion-slide>
   <ion-card>
    <ion-card-title>Ayam/ Daging/ Ikan/ Sotong/ Udang Masak</ion-card-title>
     <ion-row>
      <ion-col>
      <ion-item><ion-text><ion-icon name="caret-forward"></ion-icon>Merah</ion-text><br></ion-item>
      </ion-col>
      <ion-col>
      <ion-item><ion-text><ion-icon name="caret-forward"></ion-icon>Paprik</ion-text><br></ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      <ion-item><ion-text><ion-icon name="caret-forward"></ion-icon>Celop Tepung</ion-text><br></ion-item>
      </ion-col>
      <ion-col>
      <ion-item><ion-text><ion-icon name="caret-forward"></ion-icon>Pedas</ion-text><br></ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      <ion-item><ion-text><ion-icon name="caret-forward"></ion-icon>Goreng Kunyit</ion-text><br></ion-item>
      </ion-col>
    </ion-row>
     <p><b>slides for more menu</b></p>
   </ion-card>
 </ion-slide>
 <ion-slide>
   <ion-card>
    <ion-card-title>Mee/ Kuew / Bihun</ion-card-title>
     <ion-row>
      <ion-col>
      <ion-item><ion-text><ion-icon name="caret-forward"></ion-icon>Goreng</ion-text><br></ion-item>
      </ion-col>
      <ion-col>
      <ion-item><ion-text><ion-icon name="caret-forward"></ion-icon>Tomyam</ion-text><br></ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      <ion-item><ion-text><ion-icon name="caret-forward"></ion-icon>Sup</ion-text><br></ion-item>
      </ion-col>
      <ion-col>
      <ion-item><ion-text><ion-icon name="caret-forward"></ion-icon>Bandung</ion-text><br></ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      <ion-item><ion-text><ion-icon name="caret-forward"></ion-icon>Ladna</ion-text><br></ion-item>
      </ion-col>
      <ion-col>
      <ion-item><ion-text><ion-icon name="caret-forward"></ion-icon>Kong Fu</ion-text><br></ion-item>
      </ion-col>
    </ion-row>
     <ion-row>
      <ion-col>
      <ion-item><ion-text><ion-icon name="caret-forward"></ion-icon>Hailam</ion-text><br></ion-item>
      </ion-col>
    </ion-row>
     <p><b>slides for more menu</b></p>
   </ion-card>
 </ion-slide>
 <ion-slide>
   <ion-card>
    <ion-card-title>Sayur</ion-card-title>
     <ion-row>
      <ion-col>
      <ion-item><ion-text><ion-icon name="caret-forward"></ion-icon>Biasa</ion-text><br></ion-item>
      </ion-col>
      <ion-col>
      <ion-item><ion-text><ion-icon name="caret-forward"></ion-icon>Kailan</ion-text><br></ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      <ion-item><ion-text><ion-icon name="caret-forward"></ion-icon>Kangkung Belacan</ion-text><br></ion-item>
      </ion-col>
      <ion-col>
      <ion-item><ion-text><ion-icon name="caret-forward"></ion-icon>Cendawan</ion-text><br></ion-item>
      </ion-col>
    </ion-row>
     <p><b>slides for more menu</b></p>
   </ion-card>
 </ion-slide>
 <ion-slide>
   <ion-card>
    <ion-card-title>Minuman</ion-card-title>
     <ion-row>
      <ion-col>
      <div><ion-text><ion-icon name="caret-forward"></ion-icon><b>Teh 'o' P/S</b></ion-text><br></div>
      </ion-col>
      <ion-col>
      <div><ion-text><ion-icon name="caret-forward"></ion-icon><b>Teh 'o' Limau P/S</b></ion-text><br></div>
      </ion-col>
      <ion-col>
      <div><ion-text><ion-icon name="caret-forward"></ion-icon><b>Teh 'o' Laici P/S</b></ion-text><br></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      <div><ion-text><ion-icon name="caret-forward"></ion-icon><b>Teh P/S</b></ion-text><br></div>
      </ion-col>
      <ion-col>
      <div><ion-text><ion-icon name="caret-forward"></ion-icon><b>Teh Tarik</b></ion-text><br></div>
      </ion-col>
      <ion-col>
      <div><ion-text><ion-icon name="caret-forward"></ion-icon><b>Kopi 'o' P/S</b></ion-text><br></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      <div><ion-text><ion-icon name="caret-forward"></ion-icon><b>Kopi P/S</b></ion-text><br></div>
      </ion-col>
      <ion-col>
      <div><ion-text><ion-icon name="caret-forward"></ion-icon><b>Milo 'o' P/S</b></ion-text><br></div>
      </ion-col>
      <ion-col>
      <div><ion-text><ion-icon name="caret-forward"></ion-icon><b>Milo P/S</b></ion-text><br></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      <div><ion-text><ion-icon name="caret-forward"></ion-icon><b>Horlick P/S</b></ion-text><br></div>
      </ion-col>
      <ion-col>
      <div><ion-text><ion-icon name="caret-forward"></ion-icon><b>Sirap P/S</b></ion-text><br></div>
      </ion-col>
      <ion-col>
      <div><ion-text><ion-icon name="caret-forward"></ion-icon><b>Sirap Bandung P/S</b></ion-text><br></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      <div><ion-text><ion-icon name="caret-forward"></ion-icon><b>Sanquick P/S</b></ion-text><br></div>
      </ion-col>
      <ion-col>
      <div><ion-text><ion-icon name="caret-forward"></ion-icon><b>Neslo P/S</b></ion-text><br></div>
      </ion-col>
      <ion-col>
      <div><ion-text><ion-icon name="caret-forward"></ion-icon><b>Limau P/S</b></ion-text><br></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      <div><ion-text><ion-icon name="caret-forward"></ion-icon><b>Barli P/S</b></ion-text><br></div>
      </ion-col>
      <ion-col>
      <div><ion-text><ion-icon name="caret-forward"></ion-icon><b>Extra Juzz</b></ion-text><br></div>
      </ion-col>
      <ion-col>
      <div><ion-text><ion-icon name="caret-forward"></ion-icon><b>Tongkat Ali</b></ion-text><br></div>
      </ion-col>
    </ion-row>
     <p><b>slides for more menu</b></p>
   </ion-card>
 </ion-slide>
  <ion-slide>
   <ion-card>
    <ion-card-title>Jus Buah-Buahan</ion-card-title>
     <ion-row>
      <ion-col>
      <div><ion-text><ion-icon name="caret-forward"></ion-icon><b>Asam Boi</b></ion-text><br></div>
      </ion-col>
      <ion-col>
      <div><ion-text><ion-icon name="caret-forward"></ion-icon><b>Epal</b></ion-text><br></div>
      </ion-col>
      <ion-col>
      <div><ion-text><ion-icon name="caret-forward"></ion-icon><b>Oren</b></ion-text><br></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      <div><ion-text><ion-icon name="caret-forward"></ion-icon><b>Tembikai</b></ion-text><br></div>
      </ion-col>
      <ion-col>
      <div><ion-text><ion-icon name="caret-forward"></ion-icon><b>Carrot</b></ion-text><br></div>
      </ion-col>
      <ion-col>
      <div><ion-text><ion-icon name="caret-forward"></ion-icon><b>Laici</b></ion-text><br></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      <div><ion-text><ion-icon name="caret-forward"></ion-icon><b>Durian Belanda</b></ion-text><br></div>
      </ion-col>
    </ion-row>
    
   </ion-card>
 </ion-slide>
</ion-slides>

<ion-button expand="full" shape="round" color="warning" [routerLink]="['/home']"><b>Previous</b></ion-button>

  



</ion-content>
