<ion-header>
 <ion-toolbar color="warning" class="ion-text-center">
 
 	<ion-buttons slot="start">
 		<ion-back-button>back</ion-back-button>
 	</ion-buttons>

      <ion-title>Login</ion-title>
 </ion-toolbar>
 
 
</ion-header>

<ion-content padding class="background"><br>
     <center><img src="assets/ngantuk.PNG"></center>

     
     <center><h1><b>LOGIN</b></h1></center>
     <br>
     
     
	 <ion-item>
     <ion-label position="floating">E-mail/ No.Telephone</ion-label>
     <ion-input type="email" [(ngModel)]="post.emaill" required></ion-input >
     </ion-item>
     <br>
     <ion-item>
     <ion-label position="floating">Password</ion-label>
     <ion-input type="password" [(ngModel)]="post.passwordd" required></ion-input >
     </ion-item>
     <br>
     <ion-item>
     <ion-label position="floating">Number ID</ion-label>
     <ion-input type="email" [(ngModel)]="post.number" required></ion-input >
     </ion-item>
     <br>
     
      <ion-button class="ion-padding" color="warning" shape="round" expand="full"  (click)="createPost(post)"><b>LOGIN</b>
      </ion-button>
    
     <center><h4>Don't have an account?</h4></center>
     <ion-button class="ion-padding" color="warning" shape="round" expand="full" routerLink="/registerr"><b>SIGN UP</b></ion-button>
     

</ion-content>
