<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
    <ion-back-button>back</ion-back-button>
  </ion-buttons>
  	<ion-title>DashBoard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <br>
   <center><img src="assets/ngantuk.PNG"></center>

   <center><h1><b> WELCOME ADMINISTRATOR </b></h1></center>

<ion-slides>
  <ion-slide>
    <ion-card>
    <ion-button class="ion-padding" fill="outline" color="warning" shape="round" expand="full" routerLink="/view-login"><b>VIEW CUSTOMER DATA</b></ion-button>
    <img src="assets/data.PNG" height="30%" width="30%">
  </ion-card>
  </ion-slide>
  <ion-slide>
    <ion-card>
    <ion-button class="ion-padding" fill="outline" color="warning" shape="round" expand="full" routerLink="/view-admin"><b>VIEW ADMIN DATA</b></ion-button>
    <img src="assets/admin.png" height="50%" width="50%">
  </ion-card>
    <br>
  </ion-slide>
  <ion-slide>
    <ion-card>
    <ion-button class="ion-padding" fill="outline" saiz="large" color="warning" shape="round" expand="full" routerLink="/reserve-view"><b>VIEW RESERVATION DATA</b></ion-button>
    <img src="assets/reserve.jpg" height="50%" width="50%">
  </ion-card>
    <br>
  </ion-slide>
  <ion-slide>
    <ion-card>
    <ion-button class="ion-padding" fill="outline" color="warning" shape="round" expand="full" routerLink="/view-post"><b>VIEW CONTACT DATA</b></ion-button>
    <img src="assets/contact.jpg" height="50%" width="50%">
  </ion-card>
    <br>
  </ion-slide> 
</ion-slides>

<ion-button class="ion-padding" color="warning" shape="round" expand="full" routerLink="/homee"><b>SIGN OUT AS ADMIN</b></ion-button>

</ion-content>
